<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.characterlab.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CharacterLabApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StudentDetailsActivity"
            android:label="@string/title_activity_student_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.StrengthDetailsActivity"
            android:label="@string/title_activity_strength_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.NewAssessmentActivity"
            android:label="@string/title_activity_new_assessment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.NewStudentActivity"
            android:label="@string/title_activity_new_student" >
        </activity>
    </application>

</manifest>
